### Importación de datos

In [5]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda3.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Secadora de ropa,Electrodomésticos,1285100.0,66600.0,17/12/2021,Camila Rivera,Santa Marta,4,Tarjeta de crédito,4,11.24079,-74.19904
1,Mesa de noche,Muebles,290100.0,13600.0,10/02/2021,Maria Alfonso,Cali,3,Tarjeta de crédito,1,3.43722,-76.52250
2,Guitarra acústica,Instrumentos musicales,303500.0,17400.0,22/01/2023,Lucas Olivera,Bogotá,5,Tarjeta de crédito,3,4.60971,-74.08175
3,Balón de voleibol,Deportes y diversión,58800.0,3300.0,22/03/2022,Pedro Gomez,Barranquilla,4,Tarjeta de crédito,6,10.96854,-74.78132
4,Armario,Muebles,521100.0,25900.0,12/01/2022,Blanca Ramirez,Bogotá,1,Tarjeta de crédito,1,4.60971,-74.08175

#1. Análisis de facturación

In [8]:
from typing import List
'''Ingreso total Tienda 1'''

ingresos_t1 = list(tienda['Precio'])

suma_ingresost1=sum(ingresos_t1)

print(suma_ingresost1)

1150880400.0

In [2]:
'''Ingreso total Tienda 2'''

ingresos_t2 = list(tienda2['Precio'])

suma_ingresost2=sum(ingresos_t2)

print(suma_ingresost2)

1116343500.0

In [3]:
'''Ingreso total Tienda 3'''

ingresos_t3 = list(tienda3['Precio'])

suma_ingresost3=sum(ingresos_t3)

print(suma_ingresost3)

1098019600.0

In [4]:
'''Ingreso total Tienda 4'''

ingresos_t4 = list(tienda4['Precio'])

suma_ingresost4=sum(ingresos_t4)

print(suma_ingresost4)

1038375700.0

# 2. Ventas por categoría

In [25]:
'''Cantidad categoria Tienda 1'''

cantidad_t1 = tienda['Categoría del Producto']

categoriat1 = cantidad_t1.value_counts()

categoria_vendida_t1 =categoriat1.idxmax()

print(categoriat1)

Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64

In [16]:
'''Cantidad categoria Tienda 2'''

cantidad_t2 = tienda2['Categoría del Producto']

categoriat2 = cantidad_t2.value_counts()

categoria_vendida_t2 =categoriat2.idxmax()

print(categoriat2)

Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
Name: count, dtype: int64

In [17]:
'''Cantidad categoria Tienda 3'''

cantidad_t3 = tienda3['Categoría del Producto']

categoriat3 = cantidad_t3.value_counts()

categoria_vendida_t3 =categoriat3.idxmax()

print(categoriat3)

Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Instrumentos musicales     177
Artículos para el hogar    177
Name: count, dtype: int64

In [18]:
'''Cantidad categoria Tienda 4'''

cantidad_t4 = tienda4['Categoría del Producto']

categoriat4 = cantidad_t4.value_counts()

categoria_vendida_t4 =categoriat4.idxmax()

print(categoriat4)

Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64

# 3. Calificación promedio de la tienda

In [21]:
'''Calificacion Tienda 1'''

calificacion_t1 = list(tienda['Calificación'])

promedio_calificaciont1 =round(sum(calificacion_t1) / len(tienda),2)

print(promedio_calificaciont1)

3.98

In [22]:
'''Calificacion Tienda 2'''

calificacion_t2 = list(tienda2['Calificación'])

promedio_calificaciont2 =round(sum(calificacion_t2) / len(tienda2),2)

print(promedio_calificaciont2)

4.04

In [23]:
'''Calificacion Tienda 3'''

calificacion_t3 = list(tienda3['Calificación'])

promedio_calificaciont3 =round(sum(calificacion_t3) / len(tienda),2)

print(promedio_calificaciont3)

4.05

In [24]:
'''Calificacion Tienda 4'''

calificacion_t4 = list(tienda4['Calificación'])

promedio_calificaciont4 =round(sum(calificacion_t4) / len(tienda4),2)

print(promedio_calificaciont4)

4.0

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda